In [1]:
import numpy as np

In [2]:
populasyon = np.random.randint(0,80,10000)

In [3]:
populasyon[:10]

array([60, 20, 43, 78, 73, 55,  7, 79, 79, 68])

In [4]:
#örnek çekme fonksiyonu

In [5]:
np.random.seed(115)

In [6]:
örnek = np.random.choice(populasyon,size = 100)

In [7]:
örnek

array([48, 54, 29, 50, 57, 79, 27, 42, 44, 12, 45, 56,  9, 24, 43, 47, 15,
       67, 44, 54, 22, 71, 42, 43, 79, 54,  4, 66, 50, 52, 41, 53, 44, 49,
       11, 40, 31, 42, 56, 51, 41, 33, 76, 23,  0, 22, 14, 41, 47, 19, 39,
       26, 65, 32, 50, 69, 12, 44, 23, 20, 60, 75, 61, 76, 31, 36, 45, 69,
       35, 30,  3, 70,  1, 21, 74, 30, 14, 77, 22, 22, 32, 54, 14,  3,  3,
       63, 24, 55, 39, 15, 45, 38, 32,  0, 25, 32, 79, 26, 54, 78])

In [8]:
örnek[0:10]

array([48, 54, 29, 50, 57, 79, 27, 42, 44, 12])

In [9]:
örnek.mean()

40.06

In [10]:
populasyon.mean()

39.4153

In [11]:
populasyon.mean()

39.4153

In [12]:
#Betimsel İstastistikler

In [13]:
import seaborn as sns

In [14]:
tips = sns.load_dataset("tips")
df = tips.copy()

In [15]:
df.describe().T

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

In [16]:
import researchpy as rp

In [17]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [18]:
rp.summary_cont(df[["total_bill","tip","size"]])

     Variable      N     Mean      SD      SE  95% Conf.  Interval
0  total_bill  244.0  19.7859  8.9024  0.5699    18.6633   20.9086
1         tip  244.0   2.9983  1.3836  0.0886     2.8238    3.1728
2        size  244.0   2.5697  0.9511  0.0609     2.4497    2.6896

In [19]:
df[["tip","total_bill"]].cov()

                 tip  total_bill
tip         1.914455    8.323502
total_bill  8.323502   79.252939

In [20]:
fiyatlar = np.random.randint(10,110,1000)

In [21]:
fiyatlar.mean()

59.099

In [22]:
import statsmodels.stats.api as sms

In [23]:
sms.DescrStatsW(fiyatlar).tconfint_mean()

(57.27913246141933, 60.91886753858066)

In [24]:
örneklem=np.random.choice(a = fiyatlar,size=100)

In [25]:
örneklem[0:10]

array([ 40, 105,  11,  55,  91,  78,  15,  14,  45,  92])

In [26]:
from scipy.stats import bernoulli

In [27]:
p =0.6

In [28]:
rv = bernoulli(p)

In [29]:
rv.pmf(k=0)

0.4

In [30]:
from scipy.stats import binom

In [31]:
p = 0.01
n = 100
rv = binom(n,p)

In [32]:
print(rv.pmf(10))

7.006035693977194e-08

In [33]:
from scipy.stats import poisson

In [34]:
rv = poisson(mu=0.1)
rv.pmf(k=0)

0.9048374180359595

In [35]:
from scipy.stats import norm

In [36]:
1-norm.cdf(90,80,5)

0.02275013194817921

In [37]:
#varsayımlar

In [38]:
#shapiro_wlks testi

In [39]:
from scipy.stats import shapiro

In [40]:
from statsmodels.stats.descriptivestats import sign_test

In [41]:
from statsmodels.stats.proportion import proportions_ztest

In [42]:
count = 40
nobs = 500
value = 0.125

In [43]:
proportions_ztest(count,nobs,value)

(-3.7090151628513017, 0.0002080669689845979)

In [44]:
import scipy.stats as stats

In [45]:
import pandas as pd
import numpy as np

In [46]:
#varyans homojenliği kullanım

In [47]:
A = pd.DataFrame([30,27,21,27,29,30,20,20,27,32,35,22,24,23,25,27,23,27,23,
        25,21,18,24,26,33,26,27,28,19,25])

B = pd.DataFrame([37,39,31,31,34,38,30,36,29,28,38,28,37,37,30,32,31,31,27,
        32,33,33,33,31,32,33,26,32,33,29])

#A ve A'nın grubu
GRUP_A = np.arange(len(A))
GRUP_A = pd.DataFrame(GRUP_A)
GRUP_A[:] = "A"
A = pd.concat([A, GRUP_A], axis = 1)

#B ve B'nin Grubu
GRUP_B = np.arange(len(B))
GRUP_B = pd.DataFrame(GRUP_B)
GRUP_B[:] = "B"
B = pd.concat([B, GRUP_B], axis = 1)

#Tum veri
AB = pd.concat([A,B])
AB.columns = ["gelir","GRUP"]
print(AB.head())
print(AB.tail())

   gelir GRUP
0     30    A
1     27    A
2     21    A
3     27    A
4     29    A
    gelir GRUP
25     33    B
26     26    B
27     32    B
28     33    B
29     29    B